.button {
    margin: 5px;
    margin-bottom: 35px;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    border: hidden;
    box-shadow: 2px 2px 2px 2px rgba(46, 47, 66, 0.08), 2px 2px 2px 2px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.good:hover {
    background-color: #2aee4beb;
    color: #fff;
}

.neutral:hover {
    background-color: darkorange;
    color: #fff;
}

.bad:hover {
    background-color: crimson;
    color: #fff;
}